@import "tailwindcss";

@import "tailwindcss/preflight";
@tailwind utilities;


@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus'; 